<section id="banner">

    <div class="home-banner">
        <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-12">
          
          
                  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit accusamus et animi atque, unde iusto?</h1>
          
                  <button class="btn btn-primary home-button">booking now</button>
          
          
          
              </div>
              
            </div>
          </div>
    </div>
     
</section>

<section id="home-box">

    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 box left">

                <img src="" alt="">
                <h1>Box1 heading</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ex dolorem consectetur. Laborum, ipsa eos.</p>
    
            </div>
    
            <div class="col-lg-6 col-md-12 box right">
    
                <img src="" alt="">
                <h1>Box2 heading</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ex dolorem consectetur. Laborum, ipsa eos.</p>
    
            </div>
        </div>
    </div>
</section>